%p= error_messages_for :earl, :object_name => :category

.row
  .span12
    #consultation-saved.alert.alert-success.hide
      = t('questions.question_saved')
    %table.table.table-bordered.table-striped.table-condensed.tablesorter.ideas-table
      %thead
        %tr
          %th
            %span.consultation-name
              = @consultation.name
            - if @consultation.votes_count == 0 || @consultation.votes_count.nil?
              = link_to("<i class='icon-pencil'></i>", '#edit-consultation', :"data-toggle" => 'modal', :class => 'btn')
            = link_to("<i class='icon-plus'></i>", '#new-category', :"data-toggle" => 'modal', :class => 'btn')
          %th.status= t('items.list.status').titleize
      %tbody
        -for earl in @consultation.earls
          %tr
            %td.title= link_to h(truncate(earl.name, :length => 140, :omission => '…')), admin_question_url(earl.question_id), :id => earl.id
            %td.votes{:id => "question_#{earl.question_id}_status"}
              %button.toggle_question_status.btn{:class => earl.active? ? 'btn-primary' : '', :"data-question_id" => earl.question_id, :"data-status" => "#{earl.active?}"}
                = earl.active? ? 'Activated' : 'Deactivated'

%p
  =link_to "Vote", consultation_path(@consultation), :class => 'btn'
  =link_to "Results", results_consultation_path(@consultation), :class => 'btn'

#cant-edit-consultation.modal.hide.fade
  .modal-body
    %p= t('consultations.cant_edit_consultation')
  .modal-footer
    %button.close{:"data-dismiss" => 'modal'} x

#edit-consultation.modal.hide.fade
  .modal-header
    %button.close{:"data-dismiss" => 'modal'} x
    %h2= t('consultations.edit_consultation')
  .modal-body
    - form_tag consultation_path(@consultation), :method => :put do
      = text_area_tag('consultation[name]', h(@consultation.name), :rows => 2, :maxlength => 255, :class => 'new_idea_field input-xxlarge', :id => 'edit_consultation_text')
      %h3.new_idea_counter
  .modal-footer
    %button.btn{:"data-dismiss" => "modal"} Cancel
    %button.btn.btn-primary.new_idea_submit#edit_consultation_submit{:rel => @consultation.id}= t('vote.submit')

#new-category.modal.hide.fade
  .modal-header
    %button.close{:"data-dismiss" => 'modal'} x
    %h2= t('consultations.new_category')
  .modal-body
    - form_tag create_earl_consultation_path(@consultation) do
      %p
        = label_tag :name
        = text_field_tag 'earl[name]'
      %p
        = label_tag :ideas
        = text_area_tag('earl[question_attributes[ideas]]', '', :class => 'required', :cols => 85, :rows => 12)
  .modal-footer
    %button.btn{:"data-dismiss" => "modal"} Cancel
    %button.btn.btn-primary.new_idea_submit#new_category_submit{:rel => @consultation.id}= t('vote.submit')

-content_for :head do
  = javascript_include_tag 'jquery.tablesorter.min.js', 'jquery.blockUI.js'

- content_for :view_javascript do
  $('.tablesorter').tablesorter({ textExtraction : 'complex', headers: { 0: {sorter: 'text'}, 1 : { sorter: 'digit' } , 2 : { sorter: 'text' }, 3 : { sorter: 'text'}, 4 : { sorter: false }, } });
  $('input.widget-embed-code').focus(function(ev) { $(this).select(); ev.preventDefault();});

