%h1= t('consultations.new_consultation')

-form_for @consultation do |f|
  %p= f.error_messages

  %p
    = f.label :name
    = f.text_field :name

  -unless signed_in?
    -f.fields_for :user do |u|
      %h2= t('consultations.user_details')
      = render :partial => 'shared/new_user', :locals => { :form => u }

  %p= f.submit
