-@the_id = params[:question_id].nil? ? params[:id] : params[:question_id]
-@cast_votes_url = consultation_earl_path(@earl.consultation, @earl)
-@results_url = results_question_path(@question)
-@manage_url = admin_question_path(@question)
-@all_results_url = results_question_path(@question, :more => true)
-@about_url= about_question_url(@question)

.row
  .span6.survey-image-col
    &nbsp;
    -if @earl
      .survey-image.pull-left
        - if @earl.logo_file_name.nil?
          =image_tag('logo.jpg')
        - else
          = image_tag(@earl.logo.url(@earl.logo_size.to_sym))
      -if (current_user.try(:owns?, @earl) || current_user.try(:admin?)) && local_assigns.has_key?("show_delete")
        .survey-image-links
          =link_to("<i class='icon-pencil'></i>", admin_question_path(@question, :anchor => 'edit-image'), :class => 'btn')
          - if !@earl.logo_file_name.nil?
            =link_to("<i class='icon-trash'></i>", {:action => :delete_logo}, :method => :delete, :class => 'btn')
.row
  .span12
    %ul.nav.nav-tabs.pull-right.vote-tabs
      %li{:class => current_page?(@cast_votes_url) ? 'active' : ''}
        = link_to(t('vote.cast_votes'), @cast_votes_url)
      - if @question.user_can_view_results?(current_user, @earl)
        - if params[:all].nil?
          %li{:class => current_page?(@results_url) ? 'active' : ''}
            = link_to(t('nav.view_results'), @results_url)
        - else
          %li{:class => current_page?(@all_results_url) ? 'active' : ''}
            = link_to(t('nav.view_results'), @all_results_url)
      %li{:class => current_page?(@about_url) ? 'active' : ''}
        = link_to(t('nav.about_this_page'), @about_url)
      - if current_user.try(:owns?, @earl) || current_user.try(:admin?)
        %li{:class => current_page?(@manage_url) ? 'active' : ''}
          = link_to(t('nav.manage_question'), @manage_url)
.row
  .span12.below-tabs
